################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShiftEntity/bin
/ShiftEntity/obj
/$tf
/ShiftEntityWeb/obj
/ShiftEntityWeb/bin
/ShiftEntity.Model/obj
/ShiftEntity.Model/bin
