################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShiftEntity/obj/Debug/netstandard2.0
/.vs
/ShiftEntity/bin/Debug
/ShiftEntity/obj
/$tf
/ShiftEntityWeb/obj
/ShiftEntityWeb/bin
/ShiftEntity/bin
